# tools settings folders
/**/.*/**/*
!.github/**/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# dependencies
node_modules

# bundle
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# data
/data/

# generated clients
# exclude workaround for the generated clients (cannot be into patch-package due to minified module)
/src/clients/figma/*
!/src/clients/figma/core
/src/clients/figma/core/*
!/src/clients/figma/core/request.ts

/src/clients/penpot/*
!/src/clients/penpot/core
/src/clients/penpot/core/*
!/src/clients/penpot/core/request.ts

# local env files
.env.local
.env.test.local
.env.jest.local
